
{% set groups_for_masters_1 = slave_zones.values() | sum(attribute='master_groups', start=[]) %}
{% set groups_for_masters_2 = master_zones.values() | selectattr('notify_groups', 'defined') | sum(attribute='notify_groups', start=[]) %}
{% set groups_for_masters = (groups_for_masters_1 + groups_for_masters_2) | unique %}
{% for group_name, group_info in server_groups|dictsort %}
acl "{{ group_name }}" { {% for ip in group_info.ips %}{{ip.split('%')[0]}}; {% endfor %}};
{% if group_name in groups_for_masters %}
masters "{{ group_name }}" { {% for ip in group_info.ips %}{% if '%' in ip %}{{ip|replace('%', ' port ')}}{% else %}{{ip}}{% endif %}; {% endfor %}};
{% endif %}
{% endfor %}


options {
{% for opt_key, opt_value in bind9_options_defaults|combine(options)|combine(bind9_options_enforce)|dictsort %}
{% if opt_value %}
	{{ opt_key }} {{ opt_value }};
{% endif %}
{% endfor %}
};

logging {
	channel security_file {
		file "{{ bind9_log_dir }}/security.log" versions 3 size 30m;
		severity dynamic;
		print-time yes;
		print-severity yes;
		print-category yes;
	};
	channel dnssec_file {
		file "{{ bind9_log_dir }}/dnssec.log" versions 3 size 30m;
		severity dynamic;
		print-time yes;
		print-severity yes;
		print-category yes;
	};
	category "security" { security_file; };
	category "dnssec" { dnssec_file; };

	# logs pollution
	category "queries" { null; };
	category "lame-servers" { null; };
};


{% if ansible_os_family == "RedHat" %}
zone "." IN {
	type hint;
	file "named.ca";
};
{% endif %}

{% for incfile in bind9_base_includes %}
include "{{ incfile }}";
{% endfor %}
{% for incfile in extra_includes %}
include "{{ incfile }}";
{% endfor %}

{% if keys %}
include "{{ bind9_conf_dir }}/tsig.conf";
{% endif %}

{% if dnssec_system == 'bind' and _bind_version is version_compare('9.16', '>=') %}
include "{{ bind9_conf_dir }}/dnssec.conf";
{% endif %}

{% if master_zones %}
include "{{ bind9_conf_dir }}/master_zones.conf";
{% endif %}
{% if slave_zones %}
include "{{ bind9_conf_dir }}/slave_zones.conf";
{% endif %}

# https://deepthought.isc.org/article/AA-00537/0/Why-does-named-log-error-22-Invalid-argument-quoting-an-IPv6-address-starting-with-fe80%3A-.html
server fe80::/16 { bogus yes; };

{% if with_statistics_channel %}
statistics-channels {
  inet 127.0.0.1 port 8053 allow { 127.0.0.1; };
};
{% endif %}

